:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

#app {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
}

@media (min-width: 900px) {
  #app {
    max-width: 720px;
    padding: 32px;
  }
}
